@charset "UTF-8";
 /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team .container {
  padding-top: 84px;
}

.team .member {
  width : 100%;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin: 20px 20px;
}

.team .member img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.team .member .info{
	display: inline-block;
	margin: -50px 0px 0px 10px;
}

.team .member .picture{
	display: inline-grid;
	margin: 10px 0px 0px 10px;
}
.team .member p{
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  width: 200px;
  text-align: center;
}


.team .member span {
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #0f394c;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(73, 181, 231, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #76c7ed;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #0f394c;
}

.team .container h2 {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #0f394c;
}

.team .container a{
text-decoration:none ;
  font-weight: bold;
}

a.select{
	color: #f53302;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: url("../img/portfolio/portfolio-8.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0 60px 0;
  position: relative;
}
.counts .container {
  padding-top: 84px;
}

.counts::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.counts .title {
  position: relative;
  color: #0f394c;
  margin-bottom: 20px;
}

.counts .title h3 {
  font-size: 36px;
  font-weight: 700;
}

.counts .title h4 {
  font-weight: 700;
}
.counts .counters span {
  font-size: 28px;
  font-weight: 600;
  display: block;
  color: #49b5e7;
  font-family: "Dosis", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #444444;
}

@media (min-width: 1200px) {
  .counts {    
  	background-attachment: inherit;
  }
}

/*--------------------------------------------------------------
# tutor-regi
--------------------------------------------------------------*/
.tutor-regi {
	margin-top: -150px;
}

.tutor-regi .info {
  width: 100%;
  background: #fff;
}

.tutor-regi .info i {
  font-size: 20px;
  color: #49b5e7;
  float: left;
  width: 44px;
  height: 44px;
  background: #ebf7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.tutor-regi .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0f394c;
}

.tutor-regi .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #2079a1;
}

.tutor-regi .info .email, .tutor-regi .info .phone {
  margin-top: 40px;
}

.tutor-regi .info .email:hover i, .tutor-regi .info .address:hover i, .tutor-regi .info .phone:hover i {
  background: #49b5e7;
  color: #fff;
}

.tutor-regi .php-email-form {
  width: 100%;
  background: #fff;
}

.tutor-regi .php-email-form .form-group {
  padding-bottom: 8px;
}

.tutor-regi .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.tutor-regi .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.tutor-regi .php-email-form .error-message br + br {
  margin-top: 25px;
}

.tutor-regi .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.tutor-regi .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.tutor-regi .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.tutor-regi .php-email-form input, .tutor-regi .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.tutor-regi .php-email-form input {
  height: 44px;
}

.tutor-regi .php-email-form textarea {
  padding: 10px 12px;
}

.tutor-regi .php-email-form button[type="submit"] {
  background: #49b5e7;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.tutor-regi .php-email-form button[type="submit"]:hover {
  background: #1da2e0;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-cont {
  display: block;
  width : 50%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

